/*!CK:2538882593!*//*1392692657,178179357*/

.sp_3om01z{background-image:url(/rsrc.php/v2/yL/r/edgViMhZF0i.png);background-size:616px 240px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_2650b7{background-position:-376px -78px}
.selected .sx_2650b7{background-position:-360px -78px}
.sx_596612{width:160px;height:160px;background-position:0 -78px}
.sx_aff9c1{width:18px;background-position:-342px -78px}
.selected .sx_aff9c1{background-position:-324px -78px}
.sx_864177{width:12px;height:12px;background-position:-470px -78px}
.selected .sx_864177{background-position:-456px -78px}
.sx_05a7cc{width:12px;height:12px;background-position:-498px -78px}
.selected .sx_05a7cc{background-position:-484px -78px}
.sx_a3fb03{background-position:-410px -78px}
.selected .sx_a3fb03{background-position:-394px -78px}
.sx_427040{width:32px;height:32px;background-position:-290px -78px}
.selected .sx_427040{background-position:-258px -78px}
.sx_b944ff{width:12px;height:12px;background-position:-526px -78px}
.selected .sx_b944ff{background-position:-512px -78px}
.sx_3d4566{width:12px;height:12px;background-position:-554px -78px}
.selected .sx_3d4566{background-position:-540px -78px}
.sx_088454{width:12px;height:12px;background-position:-582px -78px}
.selected .sx_088454{background-position:-568px -78px}
.sx_837d31{width:12px;height:12px;background-position:-338px -96px}
.selected .sx_837d31{background-position:-324px -96px}
.sx_a83092{width:12px;height:12px;background-position:-366px -96px}
.selected .sx_a83092{background-position:-352px -96px}
.sx_4d31e3{background-position:-528px -120px}
.sx_fd0eb9{background-position:-546px -120px}
.sx_49ba6a{width:28px;height:28px;background-position:-378px -120px}
.sx_d82e81{width:28px;height:28px;background-position:-408px -120px}
.sx_7f0371{width:28px;height:28px;background-position:-438px -120px}
.sx_cc3820{width:28px;height:28px;background-position:-468px -120px}
.sx_2a5d30{width:34px;height:34px;background-position:-162px -120px}
.sx_f936bd{width:34px;height:34px;background-position:-198px -120px}
.sx_8b88a9{width:34px;height:34px;background-position:-234px -120px}
.sx_53338f{width:34px;height:34px;background-position:-270px -120px}
.sx_4f1cb7{width:34px;height:34px;background-position:-306px -120px}
.sx_4e551b{width:34px;height:34px;background-position:-342px -120px}
.sx_8f76b3{background-position:-564px -120px}
.sx_5b68a7{background-position:-582px -120px}
.sx_b28c8b{background-position:-162px -156px}
.sx_134181{background-position:-180px -156px}
.sx_367f74{background-position:-198px -156px}
.sx_016050{background-position:-216px -156px}
.sx_69bc22{width:28px;height:28px;background-position:-498px -120px}
.sx_616ca1{background-position:-234px -156px}
.sx_e4409b{background-position:-252px -156px}
.sx_2f0a59{background-position:-270px -156px}
.sx_662a36{background-position:-288px -156px}
.sx_971c45{background-position:-306px -156px}
.sx_173f79{background-position:-324px -156px}
.sx_58dbd3{background-position:-342px -156px}
.sx_33fe8c{width:614px;height:76px;background-position:0 0}
.sx_24dbb7{width:8px;height:14px;background-position:-600px -120px}
.sx_91e04d{width:80px;height:18px;background-position:-170px -90px}
.sx_14bf51{width:26px;background-position:-428px -78px}
.sx_56e3de{width:12px;height:8px;background-position:-444px -96px}
.selected .sx_56e3de{background-position:-432px -96px}
.sx_b07b5c{width:12px;height:10px;background-position:-418px -96px}
.selected .sx_b07b5c{background-position:-406px -96px}
.sx_fc8d6f{width:10px;height:10px;background-position:-466px -92px}
.selected .sx_fc8d6f{background-position:-456px -92px}
.sx_bd174a{width:6px;height:8px;background-position:-502px -92px}
.selected .sx_bd174a{background-position:-496px -92px}
.sx_e4889e{width:12px;height:12px;background-position:-392px -96px}
.selected .sx_e4889e{background-position:-380px -96px}
.sx_732186{width:10px;height:10px;background-position:-606px -78px}
.selected .sx_732186{background-position:-596px -78px}
.sx_d61b0d{width:8px;height:10px;background-position:-486px -92px}
.selected .sx_d61b0d{background-position:-478px -92px}

#bootloader_1Or7S { height: 42px; }
.bootloader_1Or7S { display:block !important; }